.ReactModalPortal > div {
    //se recrea un efecto.
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    //Aquí se define el estilo de la transición.
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    //Se define el final de la transición cuando se está abriendo el modal.
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    //Se define el resultado de cerrar el modal.
    //Se apoya en una propiedad específica del componente.
    opacity: 0;
}


.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $m-size;
    text-align: center;
}

.modal__title {
    margin: 0 0 $l-size 0;
}

.modal__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    word-break: break-all;
}