.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

//Estilo aplicado al mensaje de agregar y el separador al final.
.widget__message {
    color: $off_white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
}

.widget-header {
    background: $blue;
    color: $off-white;
    //Se usa flexbox para distribuir de una forma más amigable los elementos.
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

//Selector para aplicarlo al header 3
.widget-header__title {
    margin: 0;
}